.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 1); /* Fallback color */
  background-color: rgba(0, 0, 0, 1); /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}
.modal-content input {
  background-color: transparent;
  border-top: 2px solid rgba(255, 131, 131, 1);
  border-left: 2px solid rgba(255, 131, 131, 1);
  border-right: 2px solid rgba(255, 131, 131, 1);
  border-bottom: 2px solid rgba(108, 150, 94, 1);
  box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);

  width: 652px;
  height: 95px;
  border-radius: 52px;
}
.modal-content input::placeholder {
  color: rgba(201, 201, 201, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-indent: 5px;
  border-bottom: 2px solid rgba(108, 150, 94, 1);
  width: 470px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
