.activ {
    left: 374px;
}
.activ_2 {
    left: 335px !important;
}
.main {
    display: flex;
    justify-self: center;
}
.programmcardrow {
    margin-top: 0;
}
@media screen and (max-width: 1140px) {
    .activ {
        left: 300px;
    }
    .activ_2 {
        left: 260px !important;
    }
}
@media screen and (max-width: 950px) {
    .activ {
        left: 190px;
    }
    .activ_2 {
        left: 160px !important;
    }
}
@media screen and (max-width: 670px) {
    main {
        margin-top: 0px !important;
    }
    .gradient_count {
        padding: 30px 0 30px 0 !important;
    }
}
main {
    margin-top: 90px;
}
.gradient_count {
    padding: 70px 0 70px 0;
}
