{% extends 'core/index.html' %}
{% load static %}
      {% block styles %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/annou.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/pagination.css' %}" />
    <link
      rel="stylesheet"
      href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1356355/responsiveslides.min.js"
    />
      {% endblock %}
      {% block main %}

    <main>
      <div class="gradient gradient_count"></div>
      <h2 id="modal_content_h2"></h2>
      <section class="announcements" id="announcements_id"></section>
      <div id="par"></div>
      <div class="pagination">
        <ul></ul>
      </div>
    </main>
{% endblock %}
 {% block scripts %}
<div class="search-box" id="myBtn">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="search_section">
          <div>
            <input type="search" placeholder="Փնտրել" id="search" />
          </div>
          <i class="fa-solid fa-magnifying-glass" id="searchicon"></i>
        </div>
      </div>
    </div>
    <script src="{% static 'core/js/pordz.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
    <script src="{% static 'core/js/navAndFooter.js' %}"></script>
    <script src="{% static 'core/js/announcement_api.js' %}"></script>

    <script
      src="https://kit.fontawesome.com/9a1fc58522.js"
      crossorigin="anonymous"
    ></script>
{% endblock %}
