{% extends 'core/index.html' %}
{% load static %}
  {% block title %}
    <title id="title_header3"></title>
  {% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{%  static 'core/css/style.css' %}" />
    <link rel="stylesheet" href="{%  static 'core/css/media.css' %}" />
    <link rel="stylesheet" href="{%  static 'core/css/annou.css' %}" />
    <link
      rel="stylesheet"
      href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1356355/responsiveslides.min.js"
    />
{% endblock %}
  {% block main %}
    <main>
      <div class="gradient gradient_count"></div>
      <section class="anounceinfo">
        <div class="anounceinfosmalltext">
          <div>
            <img id="anounceinfosmalltext_img" alt="img" />
            <div class="anouncesmalltxt">
              <h2 id="anouncesmalltxt_h2"></h2>
              <p id="anouncesmalltxt_p"></p>
            </div>
          </div>
        </div>
        <div class="anounceinfodotes block" id="anounceinfodotes_ul">
          <p class="anouncep" id="anouncep_p"></p>
        </div>
        <div class="anounceinfodotes block" id="anounceinfodotes_ul2">
          <p class="anouncep" id="anouncep_4"></p>
        </div>
        <div class="anounceinfotext block" id="application_procedure">
          <p class="anouncep" id="anouncep_p2"></p>
        </div>
        <div class="anounceinfotext block" id="about_the_organization">
          <p class="anouncep" id="anouncep_p3"></p>
        </div>
        <div class="anounceinfotext" id="anounceinfotext_contacts">
          <p class="anouncep" id="contacts"></p>
          <p>+37494211396</p>
          <a href="">Kananc7@gmail.com</a>
        </div>
      </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{%  static 'core/js/script.js' %}"></script>
    <script src="{%  static 'core/js/navAndFooter.js' %}"></script>
    <script src="{%  static 'core/js/anounce1_api.js' %}"></script>
    <script src="{% static 'core/js/documentanounce1.js' %}"></script>
    <script
      src="https://kit.fontawesome.com/9a1fc58522.js"
      crossorigin="anonymous"
    ></script>
{% endblock %}