{% extends 'core/index.html' %}
{% load static %}
  {% block title %}
    <title id="title_header5"></title>
  {% endblock %}

      {%  block  styles %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/contact.css' %}" />
    <link
      rel="stylesheet"
      href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1356355/responsiveslides.min.js"
    />
      {% endblock %}

    {% block main %}
   <main>
      <section class="contactss">
        <div class="gradient">
          <h2 class="gradient-text" id="title_1"></h2>
        </div>
        <div class="container">
          <div class="contact_flue">
            <div class="contact_flue_1">
              <div class="contact_flue_row">
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_1"></p>
                    <p class="contact_flue__item_value">+374 (94) 21 13 96</p>
                  </div>
                </div>
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_2"></p>
                    <p class="contact_flue__item_value">+374 (93) 93 94 65</p>
                  </div>
                </div>
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_3"></p>
                    <p class="contact_flue__item_value">+374 (98) 52 81 15</p>
                  </div>
                </div>
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_4"></p>
                    <p class="contact_flue__item_value">+374 (93) 93 19 58</p>
                  </div>
                </div>
              </div>
              <div class="contact_flue_row">
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_5"></p>
                    <p class="contact_flue__item_value">+374 (94) 87 65 02</p>
                  </div>
                </div>
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_6"></p>
                    <p class="contact_flue__item_value">+374 (93) 38 75 63</p>
                  </div>
                </div>
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_7"></p>
                    <p class="contact_flue__item_value">+374 (99) 04 04 33</p>
                  </div>
                </div>
                <div class="contact_flue__item">
                  <div>
                    <div></div>
                  </div>
                  <div>
                    <p class="contact_flue__item_title" id="p_8"></p>
                    <p class="contact_flue__item_value">
                      <a href="https://www.youtube.com/channel/UCCDdC6MSKDztvIxLV6KDexw" class="iconcontact"
                        ><i class="fa-brands fa-youtube"></i
                      ></a>
                      <a href="https://www.flickr.com/photos/132989129@N05" class="iconcontact"
                        ><i class="fa-brands fa-flickr"></i></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="contact_flue_2">
              <div class="contact_flue__title" id="p_9"></div>
              <div class="contact_flue_3">
                <div class="contact_flue_row">
                  <div class="contact_flue__item">
                    <div>
                      <div></div>
                    </div>
                    <div>
                      <p class="contact_flue__item_title" id="p_10"></p>
                      <a class="bord" href="mailto:kananc7@gmail.com"><p class="contact_flue__item_value">kananc7@gmail.com</p></a>
                    </div>
                  </div>
                </div>
                <div class="contact_flue_row">
                  <div class="contact_flue__item">
                    <div>
                      <div></div>
                    </div>
                    <div>
                      <p class="contact_flue__item_title" id="p_11"></p>
                      <a class="bord" href="mailto:kananc7@gmail.com"><p class="contact_flue__item_value">
                        edupaletteinfo@gmail.com
                      </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="contact_flue__item">
                <div>
                  <div></div>
                </div>
                <div>
                  <p class="contact_flue__item_title" id="p_12"></p>
                  <p class="contact_flue__item_value" id="p_13"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="hr"></div>
          <div class="call_beck_flue">
            <h3 id="connect"></h3>
            <div class="form">
              <form>
                <input id="email" required type="email" name="email" />
                <input id="tel"  type="tel" name="tel" />
                <textarea id="textarea" rows="5"></textarea>
                <input type="button" id="send" />
              </form>
            </div>
            <div class="facebook">
              <div class="fbicon">
                <i class="fa-brands fa-facebook-f"></i>
              </div>
              <span class="fb">Facebook</span>
            </div>
            <div class="contact_flue__item">
              <div>
                <div></div>
              </div>
              <div>
             <a class="bord" href="https://www.facebook.com/mwccngo" target="_blank">   <p class="contact_flue__item_title" id="p_14"></p></a>
             <a  class="bord" href="https://www.facebook.com/mwccngo" target="_blank">    <p class="contact_flue__item_value" id="p_15"></p></a>
              </div>
            </div>
            <div class="contact_flue__item">
              <div>
                <div></div>
              </div>
              <div>
                <a class="bord" href="https://www.facebook.com/krtapnak" target="_blank">    <p class="contact_flue__item_title" id="p_16"></p></a>
              </div>
            </div>
            <div class="contact_flue__item">
              <div>
                <div></div>
              </div>
              <div>
                <a class="bord" href="https://www.facebook.com/GegharkunikWSC" target="_blank">    <p class="contact_flue__item_title" id="p_18"></p> <a href="">
              </div>
            </div>
            <div class="contact_flue__item">
              <div>
                <div></div>
              </div>
              <div>
                <a class="bord" href="https://martuniinfo.blogspot.com/" target="_blank"><p class="contact_flue__item_title" id="p_17"></p></a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>{% endblock %}
  {% block scripts %}
     <script
      src="https://kit.fontawesome.com/9a1fc58522.js"
      crossorigin="anonymous"
    ></script>
      
    <script src="{% static 'core/js/navAndFooter.js' %}"></script>
    <script src="{% static 'core/js/contactLeng.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
    <script src="{% static 'core/js/pordz.js"' %}></script>


{% endblock %}

