{% extends 'core/index.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'core/css/programm.css' %}" />

    <link
      rel="stylesheet"
      href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1356355/responsiveslides.min.js"
    />
{% endblock %}
{% block main %}

    <div class="gradient gradient_count" style="margin-top: 90px">
      <h2 class="gradient-texttwo" id="article_h2"></h2>
    </div>
    <main style="margin-top: 0">
      <section class="programminfo">
        <div class="programmrow">
          <div class="programmrow_img">
            <img id="programmrow_img">
            <div class="programmcol" id="programmcol_des"></div>
          </div>
        </div>
      </section>
      <section class="ourimages">
        <div class="gallery-container" id="gallery-container"></div>
      </section>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{%  static 'core/js/script.js' %}"></script>
    <script src="{%  static 'core/js/navAndFooter.js' %}"></script>
    <script src="{%  static 'core/js/programm_1_api.js' %}"></script>

    <script
      src="https://kit.fontawesome.com/9a1fc58522.js"
      crossorigin="anonymous"
    ></script>
{% endblock %}
